<h2 class="fw-bold mb-2 text-uppercase">Create a user account</h2>
<p class="text-white-50 mb-5">Please enter your details!</p>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="fname"
      class="form-control form-control-lg"
     formControlName="fname"
    />
    <label class="form-label mt-2">First Name</label>
    <app-form-validate [control]="registrationForm.controls.fname"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="lname"
      class="form-control form-control-lg"
     formControlName="lname"
    />
    <label class="form-label mt-2">Last Name</label>
    <app-form-validate [control]="registrationForm.controls.lname"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="email"
      name="email"
      class="form-control form-control-lg"
     formControlName="email"
    />
    <label class="form-label mt-2">Email</label>
    <app-form-validate [control]="registrationForm.controls.email"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      name="password"
      class="form-control form-control-lg"
     formControlName="pass"
    />
    <label class="form-label mt-2" for="typePasswordX">Enter Password</label>
    <app-form-validate [control]="registrationForm.controls.pass"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      name="Repassword"
      class="form-control form-control-lg"
     formControlName="repass"
    />
    <label class="form-label mt-2" for="typeRepasswordX"
      >Re-enter Password</label
    >
    <app-form-validate [control]="registrationForm.controls.repass"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="phone"
      class="form-control form-control-lg"
     formControlName="phone"
    />
    <label class="form-label mt-2">Phone Number</label>
    <app-form-validate [control]="registrationForm.controls.phone"></app-form-validate>
  </div>
  <h2 class="fw-bold mb-2 text-uppercase">ADDRESS</h2>

  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="street"
      class="form-control form-control-lg"
     formControlName="street"
    />
    <label class="form-label mt-2">Street Address</label>
    <app-form-validate [control]="registrationForm.controls.street"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="street2"
      class="form-control form-control-lg"
     formControlName="street2"
    />
    <label class="form-label mt-2">Street Address Line 2</label>
    <app-form-validate [control]="registrationForm.controls.street2"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="city"
      class="form-control form-control-lg"
     formControlName="city"
    />
    <label class="form-label mt-2">City</label>
    <app-form-validate [control]="registrationForm.controls.city"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <select class="form-control form-control-lg" name="cars" id="cars" formControlName="state">
      <option disabled selected value>State</option>
      <ng-container *ngFor="let state of states$ | async">
        <option [value]="state"> {{ state | titlecase}} </option>
      </ng-container>
    </select>
    <label class="form-label mt-2 ">Select your state</label>
    <app-form-validate [control]="registrationForm.controls.state"></app-form-validate>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="zip"
      class="form-control form-control-lg"
      formControlName="pin"
    />
    <label class="form-label mt-2">Pin Code</label>
    <app-form-validate [control]="registrationForm.controls.pin"></app-form-validate>
  </div>
  <button [disabled]="registrationForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">
    Submit
  </button>
</form>
