<div class="container mt-3">
  <div class="row">
    <div class="col">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark rounded-3 p-3 mb-4"
      >
        <img
          routerLink="/user"
          src="http://localhost:3000/images/company-logo.jpg"
          alt="Task Rabbit"
          style="height: 60px; width: 70px; border-radius: 10px; cursor: pointer;"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link active px-3" routerLink="chat"
              >Messages</a
            >
            <a class="nav-item nav-link active px-3" routerLink="payments"
              >Transactions</a
            >
            <a class="nav-item nav-link active px-3" routerLink="appointments"
              >Manage appointments</a
            >

            <ul class="navbar-nav ms-auto d-flex flex-row">
              <li class="nav-item dropdown" style="cursor: pointer;">
                <a
                  class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    [src]="'http://localhost:3000/images/' + currentUser.profilePic"
                    class="rounded-circle"
                    height="42"
                    width="42"
                    alt="Avatar"
                    loading="lazy"
                  />
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" routerLink="profile">My profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item">Settings</a>
                  </li>
                  <li>
                    <a (click)="logOut()" class="dropdown-item">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>  
    </div>
  </div>
</div>

<router-outlet></router-outlet>
