<h2 class="fw-bold mb-2 text-uppercase">Service Provider Login</h2>
<p class="text-white-50 mb-5">Please enter your login and password!</p>

<form #form (ngSubmit)="onSubmit()">
  <div class="form-outline form-white mb-4">
    <input
      type="email"
      name="email"
      id="typeEmailX"
      class="form-control form-control-lg"
      [(ngModel)]="email"
    />
    <label class="form-label mt-2" for="typeEmailX">Email</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      name="password"
      id="typePasswordX"
      class="form-control form-control-lg"
      [(ngModel)]="password"
    />
    <label class="form-label mt-2" for="typePasswordX">Password</label>
  </div>
  <button
    (click)="onSubmit()"
    class="btn btn-outline-light btn-lg px-5"
    type="submit"
  >
    Login
  </button>
</form>

<div style="margin-top: 20px;">
  <p>
    Don't have an account?
    <a routerLink="/registration/signup" class="text-white-50 fw-bold"
      >Sign Up</a
    >
  </p>
</div>
