<div class="container">
  <h1>Edit Profile</h1>
  <hr />
  <div class="row">
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages
        to the user.
      </div>
      <h3>Personal info</h3>

      <form
        [formGroup]="contactForm"
        class="form-horizontal"
        (ngSubmit)="onSubmit()"
        novalidate
      >
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="fname"
              formControlName="fname"
            />
            <app-form-validate
              label="First Name:"
              [control]="contactForm.controls.fname"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="lname"
              formControlName="lname"
            />
            <app-form-validate
              [control]="contactForm.controls.lname"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="email"
              formControlName="email"
            />
            <app-form-validate
              [control]="contactForm.controls.email"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Organization Name:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="orgName"
              formControlName="orgName"
            />
            <app-form-validate
              [control]="contactForm.controls.orgName"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Year of establishment</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="establishmentYear"
              formControlName="establishmentYear"
            />
            <app-form-validate
              [control]="contactForm.controls.establishmentYear"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Aadhar Card</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="aadhar"
              formControlName="aadhar"
            />
            <app-form-validate
              [control]="contactForm.controls.aadhar"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Pan Card</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="pan"
              formControlName="pan"
            />
            <app-form-validate
              [control]="contactForm.controls.pan"
            ></app-form-validate>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Open and close timings:</label>
          <div class="col-lg-8">
            <div class="ui-select d-flex">
              <div class="cs-form">
                <input
                  type="time"
                  class="form-control"
                  value="openTime"
                  formControlName="openTime"
                />
                <app-form-validate
                  [control]="contactForm.controls.openTime"
                ></app-form-validate>
              </div>
              <div class="cs-form px-4">
                <input
                  type="time"
                  class="form-control"
                  value="closeTime"
                  formControlName="closeTime"
                />
                <app-form-validate
                  [control]="contactForm.controls.closeTime"
                ></app-form-validate>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group my-3">
          <h3 class="col-lg-6 control-label">
            About us
            <button
              (click)="addAbout()"
              class="btn btn-outline-primary btn-sm mx-3"
            >
              Add
            </button>
          </h3>

          <div
            formArrayName="aboutUs"
            *ngFor="
              let info of contactForm.controls.aboutUs.controls;
              let i = index
            "
          >
            <div [formGroupName]="i">
              <label class="col-lg-3 control-label">Title:</label>
              <input
                class="form-control"
                type="text"
                name="title"
                formControlName="title"
              />
              <label class="col-lg-3 control-label mt-3">Content:</label>
              <textarea
                class="form-control"
                formControlName="content"
                rows="3"
              ></textarea>
              <button
                (click)="removeInfo(i)"
                class="btn btn-sm btn-danger"
                style="margin: 10px 39rem"
              >
                Remove
              </button>
            </div>
          </div>
        </div>

        <div class="form-group my-4">
          <h3 class="col control-label">
            Frequently asked questions<button
              (click)="addFreq()"
              class="btn btn-outline-primary btn-sm mx-3"
            >
              Add
            </button>
          </h3>
          <div
            formArrayName="fQues"
            *ngFor="
              let info of contactForm.controls.fQues.controls;
              let i = index
            "
          >
            <div [formGroupName]="i">
              <label class="col-lg-3 control-label">Title:</label>
              <input
                class="form-control"
                type="text"
                name="title"
                formControlName="question"
              />
              <label class="col-lg-3 control-label mt-3">Content:</label>
              <textarea
                class="form-control"
                formControlName="answer"
                rows="3"
              ></textarea>
              <button
                (click)="removeQues(i)"
                class="btn btn-sm btn-danger"
                style="margin: 10px 39rem"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input
              [disabled]="contactForm.invalid"
              type="submit"
              class="btn btn-primary"
              value="Save Changes"
            />
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr />
