<div class="container">
  <h3 class="text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search" />
              <span class="input-group-addon">
                <button type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div
            (click)="getAllMessages(user)"
            class="chat_list "
            [ngClass]="{ active_chat : user.uid === uid }"

            *ngFor="let user of allUsersdata$ | async"
          >
            <div class="chat_people" >
              <div class="chat_img">
                <img *ngIf="user.profilePic; else defaultPic"
                  [src]=" 'http://localhost:3000/images/' + user.profilePic "  
                  style="border-radius: 50%; height: 45px; width: 45px;"  
                />
              
              <ng-template #defaultPic>
                <img
                  src="https://ptetutorials.com/images/user-profile.png"
                  style="border-radius: 50%; height: 45px; width: 45px"
                />
              </ng-template>
            </div>
              <div class="chat_ib">
                <h5>{{ user.email }} <span class="chat_date">Dec 25</span></h5>
                <p>
                  Test, which is a new approach to have all solutions astrology
                  under one roof.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" #scrollDiv >
          <div class="message_history"  #scroll *ngFor="let user of allMessages">
            <div class="received_msg"  *ngIf="user.messageType === 'received'">
              <div class="received_withd_msg" style="margin-bottom: 20px;">
                <p>{{ user.message }}</p>
                <span class="time_date">
                  {{ user.time + " | " + user.date }}
                </span>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="user.messageType === 'sent'">
              <div class="sent_msg">
                <p>{{ user.message }}</p>
                <span class="time_date">
                  {{ user.time + " | " + user.date }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input
              type="text"
              class="write_msg"
              name="sendmsg"
              placeholder="Type a message"
              [(ngModel)]="newMessage"
              (keyup)="$event.keyCode == 13 && sendMessage()"
            />
            <button (click)="sendMessage()" class="msg_send_btn" type="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
