<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div
        class="list-group list-group-flush mx-3 mt-4"
        style="cursor: pointer"
      >
        <a
          routerLink="/admin-home/manage-users"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true"
        >
          <i class="fa-solid fa-users"> </i>
          <span> Manage users</span>
        </a>
        <a
          routerLink="/admin-home/manage-service-provider"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fa-solid fa-users-rectangle"> </i>
          <span> Manage services</span>
        </a>
        <a
          routerLink="/admin-home/manage-catagories"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fa-solid fa-address-book"></i>
          <span> Manage Catagories</span></a
        >
      </div>
    </div>
  </nav>
  <nav
    id="main-navbar"
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand">
        <img
          src="http://localhost:3000/images/company-logo.jpg"
          height="50px"
          width="50px"
          loading="lazy"
          style="margin-left: 50px;"
        />
      </a>

      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item dropdown" style="cursor: pointer;">
          <a
            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <!-- <li>
              <a class="dropdown-item">My profile</a>
            </li>
            <li>
              <a class="dropdown-item">Settings</a>
            </li> -->
            <li>
              <a (click)="logOut()" class="dropdown-item">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main style="margin-top: 58px">
  <div class="container pt-4">
    <router-outlet></router-outlet>
  </div>
</main>
