<div class="container">
  <div
    class="tab-pane fade active show"
    id="pills-reviews"
    role="tabpanel"
    aria-labelledby="pills-reviews-tab"
    *ngIf="reviews$ | async as reviews"
  >
    <div
      id="ratings-and-reviews"
      class="bg-white rounded shadow-sm p-4 mb-4 clearfix restaurant-detailed-star-rating"
    >
      <span class="star-rating float-right">
        <a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
        <a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
        <a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
        <a href="#"><i class="icofont-ui-rating icofont-2x active"></i></a>
        <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
      </span>
      <h5 class="mb-0 pt-1">Rate this Place</h5>
    </div>
    <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating">
      <h5 class="mb-0 mb-4">Ratings and Reviews</h5>
      <div class="graph-star-rating-header">
        <div class="star-rating">
          <a href="#"><i class="icofont-ui-rating active"></i></a>
          <a href="#"><i class="icofont-ui-rating active"></i></a>
          <a href="#"><i class="icofont-ui-rating active"></i></a>
          <a href="#"><i class="icofont-ui-rating active"></i></a>
          <a href="#"><i class="icofont-ui-rating"></i></a>
          <b class="text-black ml-2"> {{ reviews.totalRatingCount }} </b>
        </div>
        <p class="text-black mb-4 mt-2">
          Rated {{ reviews.totalRating }} out of 5
        </p>
      </div>
      <div class="graph-star-rating-body" *ngFor="let rating of ratings$ | async;let i = index">
        <div class="rating-list">
          <div class="rating-list-left text-black">{{ i + 1 }} Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div
                [style]="'width:' + rating + '%'"
                aria-valuemax="5"
                aria-valuemin="0"
                aria-valuenow="5"
                role="progressbar"
                class="progress-bar bg-primary"
              >        
              </div>
            </div>
          </div>
          <div class="rating-list-right text-black"> {{rating}}%</div>
        </div>
      </div>
      <div class="graph-star-rating-footer text-center mt-3 mb-3">
      </div>
    </div>
    <div
      class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews"
    >
      <h5 class="mb-1">All Ratings and Reviews</h5>
      <div class="reviews-members pt-4 pb-4">
        <div class="media" *ngFor="let item of reviews.reviewList">
          <img
            *ngIf="item.profilePic; else defaultPic"
            alt="Generic placeholder image"
            [src]="'http://localhost:3000/images/' + item.profilePic"
            style="border-radius: 50%; height: 45px; width: 45px;"
            class="mr-3 rounded-pill"
          />
          <ng-template #defaultPic>
            <img
              src="https://ptetutorials.com/images/user-profile.png"
              style="border-radius: 50%; height: 45px; width: 45px"
            />
          </ng-template>
          <div class="media-body">
            <div class="reviews-members-header">
              <h6 class="mb-1">
                <p class="text-black">{{ item.name | titlecase }}</p>
              </h6>
              <p class="text-gray">{{ item.reviewDate }}</p>
            </div>
            <div class="reviews-members-body">
              <p>
                {{ item.review }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <!-- <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#"
        >See All Reviews</a
      > -->
    </div>
  </div>
</div>
