<section style="background-color: #90cbea">
  <div class="container py-5">
    <div class="row" *ngIf="profileData$ | async as profileData">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              [src]="profile || defaultProfile"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <i
              (click)="imageUpload()"
              class="edit_profile fa-solid fa-pen-to-square"
              style="cursor: pointer"
            ></i>
            <h5 class="my-3">
              {{ profileData.fname + " " + profileData.lname | titlecase }}
            </h5>
            <p class="text-muted mb-1">
              {{ profileData.serviceType | titlecase }}
            </p>
            <p class="text-muted mb-4">
              {{ profileData.state + "," + profileData.city | titlecase }}
            </p>
            <div class="d-flex justify-content-center mb-2">
              <button
                (click)="editProfile()"
                type="button"
                class="btn btn-primary"
              >
                Edit Profile
              </button>
              <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-signature"></i>
                <p class="mb-0">
                  {{ profileData.fname + " " + profileData.lname | titlecase }}
                </p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-envelope"></i>
                <p class="mb-0">{{ profileData.email }}</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-phone"></i>
                <p class="mb-0">{{ profileData.phone }}</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-person"></i>
                <p class="mb-0">{{ profileData.serviceType | titlecase }}</p>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-city"></i>
                <p class="mb-0">{{ profileData.city | titlecase }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <p class="mb-0 bio">
                Bio
                <i
                  (click)="updateBio()"
                  class="edit_profile fa-solid fa-pen-to-square"
                  style="cursor: pointer"
                ></i>
              </p>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ profileData.bio || bio }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div
                class="enquiry card-body"
                *ngIf="appointmentData$ | async as appointmentData"
              >
                <p class="mb-4">
                  <span (click)="gotoAppointments()" class="text-primary font-italic me-1" style="cursor: pointer;">
                    Appointments
                  </span>
                </p>
                <ng-container *ngFor="let name of appointmentData">
                  <p class="mb-1" style="font-size: 20px">
                    {{ name | titlecase }}
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div
                class="enquiry card-body"
                *ngIf="enquiries$ | async as enquiries"
              >
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Enquiries</span>
                </p>

                <ng-container>
                  <div
                    class="details mb-5"
                    *ngFor="let enquiry of enquiries.enquiredUser"
                  >
                    <p class="mb-1" style="font-size: 20px">
                      {{ enquiry.name | titlecase }}

                      <a
                        (click)="chat(enquiry.userUid)"
                        class="w-25 mx-3"
                        style="
                          text-decoration: none;
                          cursor: pointer;
                          color: green;
                        "
                      >
                        Chat
                      </a>
                      <i
                        (click)="remove(enquiry, profileData.uid)"
                        class="fa-solid fa-trash"
                        style="color: #d33912; cursor: pointer"
                      ></i>
                    </p>
                    <p class="mb-1" style="font-size: 20px">
                      {{ enquiry.email }}
                    </p>
                    <div class="contact d-flex">
                      <p class="mb-1" style="font-size: 20px">
                        {{ enquiry.phone }}
                      </p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
