<h2 class="fw-bold mb-2 text-uppercase">Create a service account</h2>
<p class="text-white-50 mb-5">Please enter your details!</p>
<form (ngSubmit)="onSubmit()">
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="fname"
      class="form-control form-control-lg"
      [(ngModel)]="fname"
    />
    <label class="form-label mt-2">First Name</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="lname"
      class="form-control form-control-lg"
      [(ngModel)]="lname"
    />
    <label class="form-label mt-2">Last Name</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="lname"
      class="form-control form-control-lg"
      [(ngModel)]="orgName"
    />
    <label class="form-label mt-2">Organization Name</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="email"
      name="email"
      class="form-control form-control-lg"
      [(ngModel)]="email"
    />
    <label class="form-label mt-2">Email</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      name="password"
      class="form-control form-control-lg"
      [(ngModel)]="pass"
    />
    <label class="form-label mt-2" for="typePasswordX">Enter Password</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="password"
      name="Repassword"
      class="form-control form-control-lg"
      [(ngModel)]="repass"
    />
    <label class="form-label mt-2" for="typeRepasswordX"
      >Re-enter Password</label
    >
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="phone"
      class="form-control form-control-lg"
      [(ngModel)]="phone"
    />
    <label class="form-label mt-2">Phone Number</label>
  </div>

  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="pan"
      class="form-control form-control-lg"
      [(ngModel)]="pan"
    />
    <label class="form-label mt-2">PAN Number</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="aadhar"
      class="form-control form-control-lg"
      [(ngModel)]="aadhar"
    />
    <label class="form-label mt-2">Aadhar Number</label>
  </div>
  <div class="form-outline form-white mb-4">
    <select (change)="service($event)" class="form-control form-control-lg" name="cars" id="cars">
      <option disabled selected value>Select a service</option>
      <ng-container *ngFor="let service of services$ | async">
        <option [value]="service"> {{ service | titlecase}} </option>
      </ng-container>
    </select>
    <label class="form-label mt-2">Select your service</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="file"
      name="image"
      class="form-control form-control-lg"
      (change)="expSubmit($event)"
    />
    <label class="form-label mt-2">Experience Certificate</label>
  </div>
  <div class="form-outline form-white mb-4">
    <input
      type="text"
      name="city"
      class="form-control form-control-lg"
      [(ngModel)]="city"
    />
    <label class="form-label mt-2">City</label>
  </div>
  <div class="form-outline form-white mb-4">
    <select (change)="selectState($event)" class="form-control form-control-lg" name="cars" id="cars">
      <option disabled selected value>State</option>
      <ng-container *ngFor="let state of states$ | async">
        <option [value]="state"> {{ state | titlecase}} </option>
      </ng-container>
    </select>
    <label class="form-label mt-2">Select your state</label>
  </div>
  <button class="btn btn-outline-light btn-lg px-5" type="submit">
    Submit
  </button>
</form>
