<div class="container">
  <div class="row">
    <div class="top-head">
      <h3 class="mt-3">{{ providerData.orgName }}</h3>
      <div class="ratings">
        <div class="rating_number"><p class="rating_value px-2"> {{ reviewData?.totalRating }} </p></div>
        <div class="stars">⭐⭐⭐⭐⭐</div>
        <div class="ratings-count mx-3"> {{ reviewData?.totalRatingCount }} ratings</div>
        <div class="verified">
          <i class="fa-solid fa-circle-check" style="color: #52f033"></i>
          Verified
        </div>
      </div>
      <div class="info d-flex mt-3">
        <div class="location"><strong>Mavelikara,Allapuzha</strong></div>
        <div class="time mx-3">Open until {{ time[1] }}</div>
        <div class="since">
          {{ bYears }} {{ bYears < 2 ? "yr" : "yrs" }} in buisiness
        </div>
      </div>
      <div class="response d-flex mt-3">
        <div class="response-time">Responds in 4 hours</div>
        <div class="enquiry mx-4">
          <i class="fa-solid fa-arrow-trend-up"></i> 130 people recently
          enquired
        </div>
      </div>
      <div class="contact-info d-flex mt-3 mb-4">
        <div class="phone">
          <i class="fa-solid fa-phone mt-2"></i> {{ providerData.phone }}
        </div>
        <div class="chat mx-3">
          <i class="fa-regular fa-comment mt-2"></i> Chat
        </div>
        <div class="rate">
          <i class="fa-solid fa-star mt-2" style="color: #fff700"></i> Tap to
          rate
        </div>
        <button type="button" class="btn btn-primary mx-auto">
          Enquire Now
        </button>
      </div>
    </div>
    <div class="container-flow middle">
      <div>
        <h4 class="mt-3">Quick Information</h4>
      </div>
      <div class="info d-flex justify-content-center my-4">
        <div class="payment">
          <h6 class="text-center">Mode of payment</h6>
          <p class="text-center">Cash, Cheque, UPI</p>
        </div>
        <div class="establishment mx-5 text-center">
          <h6>Year of establishment</h6>
          <p>{{ providerData.establishmentYear }}</p>
        </div>
        <div class="timings">
          <h6 class="text-center">Timings</h6>
          <p class="text-center">Mon-Fri {{ time[0] }} to {{ time[1] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flow row reviews py-3" *ngIf="reviewData">
    <h4 class="mb-5">Ratings & Reviews</h4>
    <div class="col ratings-value">
      <div class="rating-info d-flex justify-content-center mt-4">
        <div class="rate-number">
          <h4 class="rate-number-value"> {{ reviewData.totalRating || + '0'}} </h4>
        </div>
        <h3 class="mx-2">Based on {{ reviewData.totalRatingCount }} ratings</h3>
      </div>
    </div>
    <div class="col">
      <div class="rating-info">
        <h5 class="">Rate Us</h5>
        <div
          class="single-star mt-2"
          *ngFor="let i of [].constructor(5); let index = index"
          [ngClass]="{ highlighted: index <= hoveredIndex }"
          (mouseover)="onStarHover(index)"
          (mouseout)="onStarHover(-1)"
          (click)="rating(hoveredIndex)"
        >
          <i class="fa-regular fa-star fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="user-reviews mt-4">
        <h5>User Reviews</h5>
      </div>
      <div class="review-options mt-2">
        <div class="options"><p>Relevant</p></div>
        <div (click)="latest()" class="options"><p>Latest</p></div>
        <div (click)="sortHighToLow()" class="options"><p>High to Low</p></div>
      </div>
      <div class="reviews-details mt-4" *ngFor="let review of reviewData.reviewList">
        <div class="user-info d-flex">
          <img *ngIf="review.profilePic"
            [src]=" 'http://localhost:3000/images/' + review.profilePic.split('\\').pop()"
            style="height: 50px; width: 50px; border-radius: 50%"
          />
          <img *ngIf="!review.profilePic"
            [src]="defaultProfile "
            style="height: 50px; width: 50px; border-radius: 50%"
          />
          <div class="user-desc mx-4">
            <div class="review-head d-flex ">
              <h5 class="" style="width: 150px;"> {{ review.name | titlecase }} </h5>
              <p style="margin-left: 25rem;"> {{ review.reviewDate }} </p>
            </div>
            <p><i class="fa-solid fa-star mt-2" style="color: #dbd40c"></i></p>
          </div>
        </div>
        <div class="user-review-desc mx-3">
          <p> 
            {{ review.review }}
          </p>
        </div>
        <hr class="user-review-hr" />
      </div>
    </div>
  </div>
  <div class="row about-us">
    <h4 class="mt-3">About Us</h4>
    <div
      class="content mt-4 px-3"
      *ngFor="let item of providerData.orgDetails.aboutUs"
    >
      <h6>{{ item.title }}</h6>
      <p class="">
        {{ item.content }}
      </p>
    </div>
  </div>
  <div class="row freq-questions">
    <h4 class="mt-3">Frequently asked questions</h4>
    <div
      class="questions mt-4 px-3"
      *ngFor="let item of providerData.orgDetails.fQuestions; let i = index"
    >
      <h6>{{ i + 1 + "." + item.question }}</h6>
      <p>
        {{ item.answer }}
      </p>
    </div>
  </div>
</div>
