.container{
  margin: 20px 250px;
}

.top-head {
  min-height: 100px;
  width: 50rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 10px;
}

.ratings {
  display: inline-flex;
}

.rating_value {
  font-size: medium;
  border-radius: 1px;
  margin: 5px;
  color: whitesmoke;
}

.rating_number {
  background-color: rgb(171, 61, 215);
  border-radius: 5px;
}

.stars {
  margin-left: 1rem;
}

.chat,
.rate {
  cursor: pointer;
  border: 1px solid rgb(181, 180, 180);
  border-radius: 5px;
  padding: 2px 10px;
}

.chat:hover,
.rate:hover {
  background-color: rgb(244, 244, 244);
}

.middle {
  margin-top: 2rem;
  min-height: 100px;
  width: 50rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 10px 10px 0px 0px;
}

.reviews,
.about-us {
  min-height: 100px;
  width: 50rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 0px 
}

.single-star {
  display: inline-block;
  padding: 7px;
}

.fa-star:hover,
.highlighted {
  color: rgb(239, 132, 38);
}

.rate-number {
  border: 1px solid rgb(155, 155, 155);
  border-radius: 7px;
  background-color: rgb(54, 126, 54);
}

.rate-number-value {
  padding: 3px 9px;
  color: whitesmoke;
}

.col.ratings-value {
  border: 1px solid rgb(144, 143, 143);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
}

.options {
  margin: 25px 9px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.options:hover {
  background-color: rgb(242, 242, 242);
}

.options > p {
  padding: 1px 12px;
}

.freq-questions{
  min-height: 100px;
  width: 50rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 0px 0px 10px 10px
}
