<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card p-4 mt-3">
        <h3 class="heading mt-5 text-center">Hi! How can we help You?</h3>
        <div class="d-flex justify-content-center px-5">
          <div class="search">
            <input
              type="text"
              class="search-input"
              placeholder="Search..."
              name=""
            />
            <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <select
            class="form-select mt-3 mx-3"
            style="width: 10rem"
            aria-label="Default select example"
          >
            <option selected>Ratings</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select
            class="form-select mt-3"
            style="width: 10rem"
            aria-label="Default select example"
          >
            <option selected>City</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 g-1 px-4 mb-5 d-flex justify-content-center">
    <h2 class="pb-5 pt-5 mt-5">Search Results:</h2>
    <div class="col-md-9 mt-4">
      <app-card></app-card>
    </div>
  </div>
</div>
