<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9">
      <div class="card p-4 mt-3">
        <h3 class="heading mt-5 text-center">Hi! How can we help You?</h3>
        <div class="d-flex justify-content-center px-5">
          <div class="search">
            <input
              type="text"
              class="search-input pb-1"
              placeholder="Looking for someone specific ?"
              name="search-box"
              [(ngModel)]="searchQuery"
              (keyup)="$event.keyCode == 13 && sendQuery()"
            />
            <a
              (click)="sendQuery()"
              class="search-icon"
              style="cursor: pointer"
              (click)="navigateToResultsSection()"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <!-- <select
            class="form-select mt-3 mx-3"
            style="width: 10rem"
            aria-label="Default select example"
            
          >
          <option value="" disabled selected hidden>Ratings</option>>
            <option value="1">One Star</option>
            <option value="2">Two Star</option>
            <option value="3">Three Star</option>
            <option value="4">Four Star</option>
            <option value="5">Five Star</option>
          </select> -->
          <select
            class="form-select mt-3 mx-3"
            style="width: 10rem"
            aria-label="Default select example"
            (change)="selectCity($event)"
          >
            <option value="" selected>City</option>
            <option value="alappuzha">alappuzha</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select
            class="form-select mt-3 mx-3"
            style="width: 10rem"
            aria-label="Default select example"
            (change)="selectService($event)"
            aria-placeholder="Service"
          >
            <option value="">Service</option>
            <option value="Electrician">Electrician</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row mt-5 g-1 px-4 mb-5 d-flex justify-content-center"
    *ngIf="result"
  >
    <h2 id="results" class="pb-5 pt-5 mt-3">Search Results:</h2>
    <div class="col-lg-12 col-md-6 col-sm-3 d-flex justify-content-center">
      <ng-template [ngIf]="result!== 'No docs'" [ngIfElse]="noRes">
        <app-card [data]="result"></app-card>
      </ng-template>
      <ng-template #noRes>
        <h3>Sorry no results found</h3>
      </ng-template>
    </div>
  </div>
</div>
