<div class="wrapper rounded">
    <nav
      class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"
    >
      <a class="navbar-brand" href="#"
        >Transactions
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-lg-auto ">
          
          <li class="nav-item" style="padding-top: 15px;">
            <a><span  class="fa fa-search"></span></a>
            <input  (keyup)="searchBill()" type="text" class="dark" placeholder="Search" name="search" [(ngModel)]="search"/>
            <i (click)="clear()" class="fa-solid fa-trash-can" style="color: #ee5e44; cursor: pointer;"></i>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row mt-2 pt-2">
      <div class="col-md-6" id="income">
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <ul class="nav nav-tabs w-75">
        <li class="nav-item">
          <h5 style="color: whitesmoke;">History</h5>
        </li>
      </ul>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center">Activity</th>
            <th scope="col" class="text-center">Mode</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Amount</th>
          </tr>
        </thead>
        <tbody *ngIf="billDetails$ | async as billDetails">
          <ng-container *ngFor=" let bills of billDetails">
            <tr class="transaction-list" *ngFor="let item of bills?.bill">
              <td class="text-center"> {{ bills.orgName | titlecase }} </td>
              <td class="text-center"> {{ item.mode | titlecase }} </td>
              <td class="text-center"> {{ item.date }} </td>
              <td class="text-center">₹ {{ item.totalCost }} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- <div class="d-flex justify-content-between align-items-center results">
      <span class="pl-md-3"
        >Showing<b class="text-white"> 1-7 0f 200 </b> trasactions</span
      >
      <div class="pt-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
  